body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 50px;
}
.food-header {
  display: flex;
  margin: 3%;
}
.content-area {
  width: 45%;
  padding: 3%;
}

.content-area img {
  width: 90%;
}
#food-header-text-area {
  margin-top: 70px;
  line-height: 35px;
}
.oreder-contact-btn {
  padding: 20px 45px;
  text-decoration: none;
  background-image: linear-gradient(tomato, orange);
  color: white;
  border-radius: 30px;
}
.p-area {
  margin-bottom: 60px;
  font-weight: 400;
  color: gray;
}
.spesific-text-color {
  color: tomato;
}
.about {
  display: flex;
  padding: 20px;
  background-image: url(images/shapes/7.png);
  background-repeat: no-repeat;
  background-position-x: right;
}
#about-img {
  width: 60%;
  padding-left: 100px;
}
#p-area-about {
  margin-bottom: 90px;
}
.recipie-heading {
  text-align: center;
  font-size: 40px;
}
#recipe-des-p {
  text-align: center;
  font-size: 18px;
  font-weight: 100;
}
.recipie-container {
  display: flex;
  padding: 30px;
}
.recipie-box {
  width: 30%;
  margin: 3%;
  padding: 15px;
  box-shadow: 3px 3px 20px lightgray;
  border-radius: 15px;
}
.dinner {
  width: 40%;
  margin: 5%;
}
#dinner-heading {
  text-align: center;
}
.recipie-box img {
  background-repeat: no-repeat;
  width: 100%;
}
.recipie-box p {
  font-size: 15px;
  font-weight: 200;
}
.counter {
  display: flex;
  margin: 50px 50px 100px 50px;
  box-shadow: 3px 3px 20px lightgray;
  border-radius: 10px;
}
.counter-position {
  width: 30%;
  padding: 10px;
  margin-left: 10px;
  display: block;
}
.counter-position h3 {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}
.counter-position p {
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}

.client {
  background-image: url(images/shapes/7.png);
  background-repeat: no-repeat;
  background-position-x: right;
}
.client-card-wrapper {
  display: flex;
}
.client-card {
  width: 33%;
  margin: 4%;
  box-shadow: 3px 3px 20px lightgray;
  border-radius: 10px;
  padding: 10px;
}

.Client-profile {
  display: flex;
  margin: 15px;
}
.Client-profile img {
  width: 20%;
  height: 20%;
  border-radius: 50%;
  margin-right: 10px;
  box-shadow: 3px 3px 20px lightgray;
  border: 1px solid lightgray;
}
.Client-profile h3 {
  margin-left: 15px;
}
.client-p {
  padding: 10px;
  font-size: 12px;
}
#client-heading {
  text-align: center;
}

footer {
  height: 200px;
  text-align: center;
  background-color: #060613;
  color: white;
  padding: 20px;
}
